// $gray-darken-5: #2A3534;
// $gray-darken-3: #374241;
// $gray-darken-1: #434E4D;

$gray-lighten-2: #E5E5E5;
$gray-lighten-3: #F5F5F5;

$accent: #2ecc71;


$base-gray: #444349;
$gray-darken-1: darken($base-gray, 2%);
$gray-darken-2: darken($base-gray, 5%);
$gray-darken-3: darken($base-gray, 9%);
$gray-darken-4: darken($base-gray, 13%);
$gray-darken-5: darken($base-gray, 17%);